.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.toast-end {
  animation: slide-in 0.5s ease-in-out, fade-out 0.5s 2.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
  .top-section {
    width: 100%;
  }
  .w-full {
    padding: 0 10px;
  }
}

/* Footer Mobile Styles*/
@media (max-width: 767px) {
  footer {
    padding: 16px; /* Adjust padding for mobile */
  }
  footer > .flex-row {
    flex-direction: column !important; /* Stack items vertically for mobile */
    width: 100%;
    text-align: center; /* Center text for mobile */
    margin-top: 16px;
  }
  footer > .text-right {
    text-align: center; /* Center text for mobile */
  }

  footer > .border-b-2 {
    border-bottom: none; /* Remove border for mobile */
  }
  footer > .mt-8 {
    margin-top: 16px; /* Adjust margin for mobile */
  }
}
